<div class="bg-secondary bg-opacity-10">
  <div class="row m-0">
    <div class="col-2 p-0">
      <app-admin-sidenav></app-admin-sidenav>
    </div>
    <div class="col-10 p-0">
      <app-admin-header
        (searchItem)="onSearch($event)"
        [headertext]="'Customers'"
        [placeholder]="'Search Categories...'"
      ></app-admin-header>
      <div
        class="bg-white mt-lg-4 mt-md-4 mt-sm-4 mt-0 mb-0 mx-lg-4 mx-md-4 mx-sm-4 mx-0 rounded-3 content-div d-flex flex-column"
      >
        <section class="h-100 overflow-auto d-flex flex-column flex-fill">
          <app-admin-subheader
            [maintext]="'Customer'"
          ></app-admin-subheader>
          <ng-container >
            <ng-container
             
            >
              <section class="flex-fill overflow-auto">
                <table class="w-100 table-section">
                  <thead
                    class="border-bottom bg-white table-header top-10 w-100"
                  >
                    <th class="p-2">
                      <div class="d-flex align-items-center gap-1 small-text">
                        User
                      </div>
                    </th>
                    <th class="p-2">
                      <div class="d-flex align-items-center gap-1 small-text">
                        Phone
                      </div>
                    </th>
                    <th class="p-2">
                      <div class="d-flex align-items-center gap-1 small-text">
                        Orders
                      </div>
                    </th>
                    <th class="p-2">
                      <div class="d-flex align-items-center gap-1 small-text">
                        Logged in
                      </div>
                    </th>
                    <th class="p-2">
                      <div class="d-flex align-items-center gap-1 small-text">
                        Action
                      </div>
                    </th>
                  </thead>
                  <tbody class="text-secondary fw-bold">
                    <tr
                      class="border-bottom"
                    >
                      <td class="p-2 d-flex align-items-center gap-3 ps-2 customer-td">
                        <img
                          class="img-fluid product-img border rounded-circle"
                          src="https://img.freepik.com/premium-vector/brunette-man-avatar-portrait-young-guy-vector-illustration-face_217290-1035.jpg?w=740"
                          alt=""
                        />
                        Piyush
                      </td>
                      <td class="px-2 py-3">
                        7297825537
                      </td>
                      <td class="px-2 py-3">
                        84
                      </td>
                      <td class="px-2 py-3">
                        25/02/2019
                      </td>
                      <td class="px-2">
                        <mat-icon class="btn-text text-center">info</mat-icon>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </ng-container>
          </ng-container>
          <app-paginatorfooter
            [sizeOption]="pageSizeOptions"
            [size]="pageSize"
            [itemlength]="categoryLength"
            (onChangeevent)="onpageChange($event)"
          ></app-paginatorfooter>
        </section>
      </div>
    </div>
  </div>
</div>
<ng-template class="pt-4" #noData>
  <img
    class="bg-white loading-img"
    src="https://cdn.dribbble.com/users/1767850/screenshots/3566945/media/dc6f1d5349d6d3bd0b520e1c16f236da.gif?resize=400x0"
    alt=""
  />
</ng-template>
<ng-template class="pt-4" #noFilteredData>
  <!-- <img
    class="bg-white loading-img"
    src="https://cdn.dribbble.com/users/1767850/screenshots/3566945/media/dc6f1d5349d6d3bd0b520e1c16f236da.gif?resize=400x0"
    alt=""
  /> -->
  <h3 class="text-danger p-3">No User Found!!</h3>
</ng-template>
