<app-header></app-header>
<div class="container-fluid pt-5">
  <div class="container pt-5">
    <div class="row justify-content-between">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
        <img class="img-fluid w-100 rounded-4" src="https://img.freepik.com/free-photo/portrait-man-laughing_23-2148859448.jpg?t=st=1716809577~exp=1716813177~hmac=64e75c6069be87d66431b4556bd6263b52e81f878d42939d8254b656139176c8&w=740" alt="">
        <div class="pt-1 fw-bold d-flex flex-column gap-2 pt-3">
          <div class="d-flex align-items-center gap-2"><mat-icon>account_circle</mat-icon> <p class="m-0">Piyush Sharma</p></div>
          <div class="d-flex align-items-center gap-2"><mat-icon>mail</mat-icon> <p class="m-0">ps72978255@gmail.com</p></div>
          <div class="d-flex align-items-center gap-2"><mat-icon>phone_iphone</mat-icon> <p class="m-0">7297825537</p></div>
        </div>
      </div>
      <div class="col-lg-8 col-sm-8 col-sm-12 col-12">

        <div class="row gap-3 pt-3 justify-content-lg-start justify-content-md-start justify-content-center justify-content-center">
          <div class="col-lg-3 col-md-3 col-sm-5 col-5 border border-2 p-2 rounded-3 position-relative">
            <figure class=" p-0 m-0">
              <img class="w-100 img-fluid  " src="https://img.freepik.com/free-vector/3d-delivery-box-parcel_78370-825.jpg?t=st=1716810411~exp=1716814011~hmac=86ed4af87b80c6bd6b87dbc4047611f7c3db79a6ebcea3c96ef7ceae8566c1a9&w=740" alt="">
              <p class="position-absolute bottom-0   p-2 fw-bold rounded-1">Your Orders</p>
            </figure>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-5 col-5 border border-2 p-2 rounded-3 position-relative">
            <figure class=" p-0 m-0">
              <img class="w-100 img-fluid  " src="https://img.freepik.com/free-vector/realistic-vector-icon-red-box-present-with-golden-ribbon-bow_134830-2097.jpg?t=st=1716811813~exp=1716815413~hmac=c87bbf4ff2291452254601613e7a1a4e3abc8974b03cad559a848e6bb2a1128d&w=826" alt="">
              <p class="position-absolute bottom-0   p-2 fw-bold rounded-1">Giftcards & vouchers</p>
            </figure>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-5 col-5 border border-2 p-2 rounded-3 position-relative">
            <figure class=" p-0 m-0">
              <img class="w-100 img-fluid  " src="https://img.freepik.com/free-vector/hand-drawn-flat-design-delivery-concept_23-2149157499.jpg?t=st=1716812239~exp=1716815839~hmac=333794ecb35274370fa2862f2d7eaf771c2884090e7f8cad55339cb2f25df0d1&w=1060" alt="">
              <p class="position-absolute bottom-0   p-2 fw-bold rounded-1">Your Address</p>
            </figure>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-5 col-5 border border-2 p-2 rounded-3 position-relative">
            <figure class=" p-0 m-0">
              <img class="w-100 img-fluid  " src="https://img.freepik.com/premium-vector/wallet-with-flying-gold-coins-vector-icon-illustration_138676-352.jpg?w=996" alt="">
              <p class="position-absolute bottom-0   p-2 fw-bold rounded-1">Your Wallet</p>
            </figure>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-5 col-5 border border-2 p-2 rounded-3 position-relative">
            <figure class=" p-0 m-0">
              <img class="w-100 img-fluid  " src="https://img.freepik.com/premium-vector/sending-parcel-through-phone-screen-ordering-goods-online-courier-passes-parcel_530883-2.jpg?w=900" alt="">
              <p class="position-absolute bottom-0   p-2 fw-bold rounded-1">Your Returns</p>
            </figure>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-5 col-5 border border-2 p-2 rounded-3 position-relative">
            <figure class=" p-0 m-0">
              <img class="w-100 img-fluid  " src="https://img.freepik.com/free-vector/illustration-gear-doodle-icon_53876-5596.jpg?t=st=1716811330~exp=1716814930~hmac=9d4a60abd2d503e819e84a4aef54a62cc8abeaedfdfec6366e18c45186ee2785&w=740" alt="">
              <p class="position-absolute bottom-0   p-2 fw-bold rounded-1">Account Settings</p>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
