<div class="container-fluid position-relative bg-secondary bg-opacity-25 h-100">
  <div class="container ">
    <div class="row w-100">
      <div
        class="col-4 btn-bg login-section bg-opacity-25 rounded-2 p-3 mx-auto d-flex flex-column gap-3"
      >
        <h3 class="fs-5 fw-bold text-white">Login</h3>
        <div class="bg-white">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Username</mat-label>
            <input matInput class="text-dark" [(ngModel)]="username" />
          </mat-form-field>
        </div>
        <div class="bg-white">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Password</mat-label>
            <input
              class="text-dark"
              matInput
              [type]="hide ? 'password' : 'text'"
              [(ngModel)]="password"
              type="password" name="password" 
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon class="btn-text">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <button mat-button class="bg-white btn-text" (click)="login()">Login</button>
      </div>
    </div>
  </div>
</div>
