<div class="pt-5">
<!-- <img class="hero-img img-fluid" src="https://img.freepik.com/free-photo/happy-young-man-with-red-hair-shopping-stores-showing-thumbsup-holding-paper-bag-shoulde_1258-159548.jpg?t=st=1716788491~exp=1716792091~hmac=3aff6455729472c9e2771a2271aa1c0010e77963b16d4bb0f2c99e63f8accda9&w=1480" alt=""> -->
<!-- <h2 class="hero-text text-white ps-4 fw-bold fs-1 text-center p-3">IShop <br/> Where Style Meets Substance</h2>
<div class="hero-content d-flex col-4 gap-2 ">
  <div class="col-4 rounded-3">
    <img class="img-fluid rounded-circle h-100 w-100" src="https://img.freepik.com/premium-photo/fashion-white-mockup-tshirt-blank_856660-2986.jpg?w=740" alt="">
  </div>
  <div class="col-4 rounded-3">
    <img class="img-fluid rounded-circle h-100 w-100" src="https://img.freepik.com/premium-photo/black-jacket-isolated-white_1014317-1503.jpg?w=740" alt="">
  </div>
  <div class="col-4 rounded-circle">
    <img class="img-fluid rounded-circle h-100 w-100" src="https://img.freepik.com/premium-photo/casual-black-mockup-blank-tshirt_856660-2922.jpg?w=740" alt="">
  </div>
</div> -->
</div>

<!-- <ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://via.placeholder.com/600x400?text=Slide+1" alt="Slide 1">
    </div>
    <div class="carousel-caption">
      <h3>First Slide</h3>
      <p>Some description for the first slide.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://via.placeholder.com/600x400?text=Slide+2" alt="Slide 2">
    </div>
    <div class="carousel-caption">
      <h3>Second Slide</h3>
      <p>Some description for the second slide.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://via.placeholder.com/600x400?text=Slide+3" alt="Slide 3">
    </div>
    <div class="carousel-caption">
      <h3>Third Slide</h3>
      <p>Some description for the third slide.</p>
    </div>
  </ng-template>
</ngb-carousel> -->
