<div class="container-fluid border-end  bg-white border-secondary admin-sidenav">
  <div class="row py-4 px-lg-3 px-md-3 px-sm-3 px-0">
    <h2 class="sidenav-text">Zamazone</h2>
    <img class="sidenav-show-text logo-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Eo_circle_purple_letter-z.svg/2048px-Eo_circle_purple_letter-z.svg.png" alt="">
  </div>
  <div class="row flex-column gap-2">
    <div class="border-bottom border-2 m-0 px-0">
      <a class=" anchor-tag px-2 py-2 d-flex justify-content-lg-start justify-content-md-start justify-content-sm-center justify-content-center align-items-center gap-2  "routerLink="/admin" routerLinkActive="active"   [routerLinkActiveOptions]="{ exact: true }" href=""><mat-icon>dashboard</mat-icon> <span class="sidenav-text">Dashboard</span></a>
      <h6 class="sidenav-show-text text-center">Dashboard</h6>
    </div>
    <div class="border-bottom border-2 m-0 px-0">
      <a class=" anchor-tag px-2 py-2 d-flex justify-content-lg-start justify-content-md-start justify-content-center align-items-center gap-2 " routerLink="/admin/product" routerLinkActive="active" href=""><mat-icon>inventory_2</mat-icon> <span class="sidenav-text">Products</span></a>
      <h6 class="sidenav-show-text text-center">Products</h6>
    </div>
    <div class="border-bottom border-2 m-0 px-0 ">
      <a class=" anchor-tag px-2 py-2 d-flex justify-content-lg-start justify-content-md-start justify-content-center align-items-center gap-2 " routerLink="/admin/category" routerLinkActive="active" href=""><mat-icon>category</mat-icon><span class="sidenav-text">Categories</span></a>
      <h6 class="sidenav-show-text text-center">Categories</h6>
    </div>
    <div class="border-bottom border-2 m-0 px-0">
      <a class=" anchor-tag px-2 py-2 d-flex justify-content-lg-start justify-content-md-start justify-content-center align-items-center gap-2 " routerLinkActive="active" href=""><mat-icon>sell</mat-icon> <span class="sidenav-text">Sales</span></a>
      <h6 class="sidenav-show-text text-center">Sales</h6>
    </div>
    <div class="border-bottom border-2 m-0 px-0">
      <a class=" anchor-tag px-2 py-2 d-flex justify-content-lg-start justify-content-md-start justify-content-center align-items-center gap-2 " routerLinkActive="active" href=""><mat-icon>group</mat-icon> <span class="sidenav-text">Customers</span></a>
      <h6 class="sidenav-show-text text-center">Customers</h6>
    </div>
    <div class="border-bottom border-2 m-0 px-0">
      <a class=" anchor-tag px-2 py-2 d-flex justify-content-lg-start justify-content-md-start justify-content-center align-items-center gap-2 " routerLink="/admin/settings" routerLinkActive="active" href=""><mat-icon>settings</mat-icon> <span class="sidenav-text">Settings</span></a>
      <h6 class="sidenav-show-text text-center">Settings</h6>
    </div>
  </div>
</div>
