<div class="bg-secondary bg-opacity-10">
  <div class="row m-0">
    <div class="col-2 p-0">
      <app-admin-sidenav></app-admin-sidenav>
    </div>
    <div class="col-10 p-0">
      <app-admin-header
        [headertext]="'Products'"
        (searchItem)="searchItem($event)"
        [placeholder]="'Search Products...'"
      ></app-admin-header>
      <div
        class="bg-white mt-lg-4 mt-md-4 mt-sm-4 mt-0 mb-0 mx-lg-4 mx-md-4 mx-sm-4 mx-0 rounded-3 content-div d-flex flex-column "
      >
        <section class="h-100 flex-fill d-flex flex-column overflow-auto">
          <app-admin-subheader
            [maintext]="'Product'"
            (newBtnEvent)="btnClick()"
          ></app-admin-subheader>
          <ng-container *ngIf="allProducts.length > 0; else noData">
            <ng-container
              *ngIf="filteredProducts.length > 0; else noFilteredData"
            >
              <section class="flex-fill overflow-auto">
                <table class="w-100 table-section">
                  <thead
                    class="border-bottom text-secondary bg-white table-header top-10 w-100"
                  >
                  <th class="p-2 py-3">
                    Product
                  </th>
                    <!-- <th class="p-2">
                      <div class="d-flex align-items-center gap-1 small-text">
                         Name <mat-icon>keyboard_arrow_down</mat-icon>
                      </div>
                    </th> -->
                    <th class="">
                      <div class="d-flex align-items-center gap-1 small-text">
                        Category
                      </div>
                    </th>
                    <th class="">
                      <div class="d-flex align-items-center gap-1 small-text">
                        Price
                      </div>
                    </th>
                    <th class="">
                      <div class="d-flex align-items-center gap-1 small-text">
                        Discount
                      </div>
                    </th>
                    <th class="">
                      <div class="d-flex align-items-center gap-1 small-text">
                        Stock
                      </div>
                    </th>
                    <th class="">
                      <div class="d-flex align-items-center gap-1 small-text">
                        Status
                      </div>
                    </th>
                    <th class="">
                      <div class="d-flex align-items-center gap-1 small-text">
                        Action
                      </div>
                    </th>
                  </thead>
                  <tbody class="">
                    <tr
                      class="border-bottom"
                      *ngFor="let product of filteredProducts"
                    >
                    <td class="p-2">
                      <div class="d-flex align-items-center gap-2">
                        <img
                        class="product-img border rounded-2"
                        src="{{ product.image }}"
                        alt=""
                      />
                      <span class="text-truncate product-name border-0 fw-bold">{{ product.name }}</span>
                      </div>
                    </td>
                      <td class="py-3 ">{{ product.category }}</td>
                      <td class="py-3 fw-bold">${{ product.price }}</td>
                      <td class="py-3 fw-bold">{{ product.discount }}</td>
                      <td class="py-3">{{ product.stock }}</td>
                      <td>
                        <span
                          class="text-success border px-2 py-1 border-2 rounded-4 border-success"
                        >
                          {{ product.status }}
                        </span>
                      </td>
                      <!-- <td role="button" class="px-2 py-3 active">Details</td> -->
                      <td role="button" class=" py-3">
                        <div class="d-flex align-items-center gap-2">
                          <span
                            class="text-danger"
                            (click)="removeProduct(product.id)"
                            role="button"
                            aria-label="Delete"
                            matTooltip="Delete"
                            ><mat-icon>delete</mat-icon></span
                          >
                          <span
                            class="btn-text"
                            role="button"
                            aria-label="Edit"
                            routerLink="/admin/product/edit/{{ product.id }}"
                            matTooltip="Edit"
                            ><mat-icon>edit_square</mat-icon>
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </ng-container>
            <footer class=" ">
              <app-paginatorfooter
              [itemlength]="productLength"
              [size]="10"
              [sizeOption]="pageSizeOptions"
              [size]="pageSize"
              (onChangeevent)="onPageChange($event)"
            ></app-paginatorfooter>
            </footer>
          </ng-container>
        </section>
      </div>
    </div>
  </div>
</div>
<ng-template class="pt-4" #noData>
  <img
    class="bg-white loading-img"
    src="https://cdn.dribbble.com/users/1767850/screenshots/3566945/media/dc6f1d5349d6d3bd0b520e1c16f236da.gif?resize=400x0"
    alt=""
  />
</ng-template>
<ng-template class="pt-4" #noFilteredData>
  <!-- <img
    class="bg-white loading-img"
    src="https://cdn.dribbble.com/users/1767850/screenshots/3566945/media/dc6f1d5349d6d3bd0b520e1c16f236da.gif?resize=400x0"
    alt=""
  /> -->
  <h3 class="text-danger p-3">No Products Found!!</h3>
</ng-template>
