<section class="d-flex flex-column gap-5 ">
  <div class="w-100 row justify-content-between h-100 border-bottom border-2 pt-3 pb-5 gap-lg-0 gap-md-3 gap-sm-3 gap-3" >
    <div class="col-lg-8 col-md-12 col-sm-12 col-12 px-lg-3 px-md-3 p-sm-0 p-0 py-3">
      <h3 class="text-center">Users and orders</h3>
      <canvas
        baseChart
        class="barChart"
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="barChartType"
        (chartClick)="chartClicked($event)"
        (chartHover)="chartHovered($event)"
      >
      </canvas>
    </div>
    <div
      class="col-lg-4 col-md-12 col-sm-12 col-12 px-lg-2 px-md-2 p-sm-0 p-0 doughtnutChart"
    >
    <h3 class="text-center">Orders and Returns</h3>
      <canvas
        baseChart
        [data]="doughnutChartData"
        [type]="doughnutChartType"
        class="doughtnutChart"
      >
      </canvas>
    </div>
  </div>
  <div class="w-100 row justify-content-between border-bottom pt-3 pb-5 border-2 h-100 gap-lg-0 gap-md-3 gap-sm-3 gap-3">
    <div
      class="col-lg-4 col-md-12 col-sm-12 col-12 px-lg-2 px-md-2 p-sm-0 p-0 doughtnutChart"
    >
    <h3 class="text-center">Orders and Returns</h3>
      <canvas
        baseChart
        [data]="doughnutChartData"
        [type]="doughnutChartType"
        class="doughtnutChart"
      >
      </canvas>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-12 px-lg-3 px-md-3 p-sm-0 p-0">
      <h3 class="text-center">Users and orders</h3>
      <canvas
        baseChart
        class="barChart"
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="barChartType"
        (chartClick)="chartClicked($event)"
        (chartHover)="chartHovered($event)"
      >
      </canvas>
    </div>
  </div>

</section>
