<div class="customer-info d-flex flex-column gap-2">
  <header>
    <div
      class="d-flex justify-content-between align-items-center border-bottom border-2 border-secondary pb-3"
    >
      <h2 class="btn-text fw-bold fs-4">Product Info</h2>
      <span (click)="closeDialog()" role="button"
        ><mat-icon class="text-secondary fw-bold">close</mat-icon></span
      >
    </div>
  </header>
  <section class="row p-2">
    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
      <figure class="m-0">
        <img
          class="img-fluid product-img rounded-3 shadow"
          src="{{ productData.image }}"
          alt=""
        />
      </figure>
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12 col-12 p-2 product-detail">
      <h3 class="fw-bold fs-5 ">{{ productData.name }}</h3>
      <p class="py-2">{{ productData.description }}</p>
      <table class="table">
        <thead class=""></thead>
        <tbody>
          <tr>
            <td class="pt-3 fw-bold btn-text border-0 ps-4">Price</td>
            <td class="pt-3 fw-bold fs-6 text-start load-td border-0">
              ${{ productData.price }}
            </td>
          </tr>
          <tr>
            <td class="pt-3 fw-bold btn-text border-0 ps-4">Stock</td>
            <td class="pt-3 fw-bold fs-6 text-start load-td border-0">
              {{ productData.stock }}
            </td>
          </tr>
          <tr>
            <td class="pt-3 fw-bold btn-text border-0 ps-4">Discount</td>
            <td class="pt-3 fw-bold fs-6 text-start load-td border-0">
              {{ productData.discount }}
            </td>
          </tr>
          <tr>
            <td class="pt-3 fw-bold btn-text border-0 ps-4">Status</td>
            <td class="pt-3 fw-bold fs-6 text-start load-td border-0">
              {{ productData.status }}
            </td>
          </tr>
          <tr>
            <td class="pt-3 fw-bold btn-text border-0 ps-4">Category</td>
            <td class="pt-3 fw-bold fs-6 text-start load-td border-0">
              {{ productData.category }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
