
.product-img{
  height: 300px;
  object-fit: contain;
}
.customer-font{
  font-size: 12px;
}
.customer-font-1{
  font-size: 14px;
  line-height: 20px;
}
.customer-mat-icon{
  font-size: 20px;
}
@media (min-width: 1000px) and (max-width: 5000px) {
  .customer-info{
    width: 900px;
    /* max-height: 500px; */
  }
  .product-detail{
    max-height: 450px;
    overflow: auto;
  }
}