.product-img{
  /* max-width: 200px; */
  /* min-height: 250px !important; */
  /* max-height: 250px !important; */
  object-fit: contain;
}
.size-btn{
  min-width: 50px !important;
  max-width: 60px !important;
}
.product-name{
  line-height: 30px;
}
.product-img{
  min-width: 350px !important;
  max-width: 400px !important;
  height: 400px !important;
  object-fit: contain;
}
.slider{
  min-width: 350px !important;
  max-width: 600px !important;
}