
<div class="container-fluid pt-5">
  <app-subheader class="" (searchEvent)="onsearch($event)"></app-subheader>
  <app-slider></app-slider>
  <ng-container *ngIf="productsData.length>0 ; else noData">
    <ng-container *ngIf="filteredProducts.length>0 ; else noFilteredData">
      <div class=" row pt-4 justify-content-lg-center justify-content-md-center  gap-lg-5 gap-md-4 gap-sm-0 gap-0 justify-content-sm-evenly justify-content-evenly gap-lg-0 gap-md-0 gap-sm-3 gap-3">
        <div class="col-lg-2 col-md-3 col-sm-5 col-5 rounded-3 p-0 m-0 border rounded-3 bg-secondary bg-opacity-10 position-relative product-div product" routerLink="/productdetail/{{ product.id }}" *ngFor="let product of filteredProducts" >
          <figure class="m-0 bg-white">
            <img class="w-100 product-img productImg-mobile" src="{{product.image}}" alt="">
          </figure>
          <div class="p-2 d-flex flex-column gap-2">
            <h3 class="fw-bold text-truncate">{{product.name}}</h3>
            <div class="d-flex align-items-center gap-1 text-truncate">
              <h4 class="btn-text fw-bold">${{product.price-5}}</h4>
              <h4 class="text-secondary text-decoration-line-through fw-bold">${{product.price}}</h4>
              <h4 class="text-success fw-bold">5% off</h4>
            </div>
            <div class="d-flex gap-1 flex-lg-row flex-md-row flex-sm-column flex-column align-items-center text-warning">
              <div class="d-flex gap-1 ">
                <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star_half</mat-icon>
              </div>
                <h4 class="text-dark">4.5 Ratings</h4>
            </div>
          </div>
          <div class="p-2 position-absolute bottom-0 w-100">
            <button class="w-100 btn-border d-flex align-items-center justify-content-center" (click)="addToCart($event , product)" mat-raised-button>Add to Cart <mat-icon class="btn-text">shopping_cart</mat-icon></button>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template class="pt-4" #noData>
      <img class="bg-white loading-img " src="https://cdn.dribbble.com/users/1767850/screenshots/3566945/media/dc6f1d5349d6d3bd0b520e1c16f236da.gif?resize=400x0"  alt="">
  </ng-template>
</div>
<ng-template class="pt-4 " #noFilteredData>
  <!-- <img
    class="bg-white loading-img"
    src="https://cdn.dribbble.com/users/1767850/screenshots/3566945/media/dc6f1d5349d6d3bd0b520e1c16f236da.gif?resize=400x0"
    alt=""
  /> -->
  <h3 class="text-danger p-3">No Products Found!!</h3>
</ng-template>
