<div class="py-2  border-bottom border-2 border-secondary">
  <!-- <h3 class="fs-4 fw-bold text-center bg-secondary bg-opacity-10 btn-text py-2">Top Products</h3> -->
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let product of filteredProducts">
        <ng-template carouselSlide [id]="product.id">
          <div class="w-100" >
            <figure class="m-0 bg-white">
              <img class=" slider-img mx-auto" src="{{product.image}}" alt="">
            </figure>
              <div class="d-flex justify-content-between align-items-center px-3 py-2 bg-secondary rounded-2 bg-opacity-10">
                <h2 class="text-center py-2  text-truncate w-50">{{product.name}}</h2>
                <a routerLink="/productdetail/{{product.id}}" class="text-decoration-none btn-text fw-bold border-2 rounded-2 btn-border p-2">
                  view product
                </a>
              </div>
            </div>
            <!-- <div class="bg-warning">
            <div class="slider-img">
              <img class=" product-img mx-auto" src="{{product.image}}" title="{{product.name}}"  >
            </div>
          </div> -->
          <!-- <img class="img-fluid product-img" src="https://mobirise.com/extensions/commercem4/assets/images/gallery00.jpg" > -->
        </ng-template>
      </ng-container>
    </owl-carousel-o>
</div>