<header class="row m-0 px-2 py-3 align-items-center z-2 position-sticky top-0   bg-white border-bottom ">
  <div class=" col-lg-2 col-md-4 col-sm-4 col-4 py-0 px-0">
    <h3 class="m-0 header-text">{{maintext}} list</h3>
  </div>
  <div class="col-lg-10 col-md-8 col-sm-8 col-8 d-flex justify-content-end gap-3 px-0">
    <button class="d-flex align-items-center small-text" mat-stroked-button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
      <mat-icon>filter_alt</mat-icon> Filter
    </button>
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <h2 class="offcanvas-title btn-text d-flex align-items-center" id="offcanvasWithBothOptionsLabel">Filter
        <mat-icon>filter_alt</mat-icon>
        </h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body ">
        <app-admin-filter></app-admin-filter>
      </div>
    </div>
    <!-- <button class="" mat-stroked-button>See All</button> -->
<!--
    <button mat-button (click)="openDialog()" class="d-flex align-items-center" mat-stroked-button>
      <mat-icon>add</mat-icon> Add Product
    </button> -->
    <button mat-button (click)="emitEvent($event)" class="d-flex align-items-center btn-bg small-text" mat-stroked-button>
      <mat-icon>add</mat-icon> Add {{maintext}}
    </button>
  </div>
</header>
