.search-bar{
  outline: none !important;
}
.custom-menu {
  transform: translateY(-20px); 
  position: relative;
  top: 20px;
}
.admin-header{
  /* background-color: #0D4571; */
  background-color: white;
}